## Markdown Basics
*Italic*<br>
**bold**<br>
***Italic Bold***
* normal text
# unordered list
    * sublist 1
    * sublist 2
    
# ordered list

>1. list 1
>2. list 2
# adding links
I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"
  
`printf("Hello Markdown")`

<https://google.com><br>
<https://gmail.com>



# image adding 

[Jupyter Logo](jp.png)

# python basics
Python version 3.7

-scripting
-object oriented
-functional

In [1]:
#python comments

print("Good Afternoon", "!", end="||")#Basic output
print("hai this is srikanya")

Good Afternoon !||hai this is srikanya

### Assignments

In [2]:
n1=123456 #single variable assignment

n2=n3=n4=n1 #multi variable assignment of the same value

print(n1,n2,n3,n4)

n2
a,b,c=123,234,345  #multi variable asssignment with different values

print(a,b,c)

123456 123456 123456 123456
123 234 345

### Data Types & Type conversions
- int
- float
- string

In [3]:
type(a)
s1="python"
type(s1)

f1=12.34
type(f1)

float(str(int(f1)))

12.0

### Arthmetic Operations
- +
- -
- *
- /
- ^
- %

In [4]:
n1 % 11

n3=n2 ** 123456

type(n3)

len(str(n3))

atoms = 10 ** 82

len(str(atoms))

type(str(atoms))

len(str(atoms))

122321 ** 9

6130687873308026945890176790042303730066739281

### Conditionals

In [ ]:
if atoms < 10 ** 96:
    print("TRUE")
else:
    print("FALSE")

TRUE

In [ ]:
#check if a number is even

n=123
if n % 2==0:
    print("EVEN")
else:
   print("odd")

odd

### check the greatest of 3 numbers
n=int(input("Enter the First number"))

n1=int(input("Enter the second number"))

n2=int(input("Enter the third number"))

if n > n1 and n1 > n2:

    print(n,"is the greatest")
    
elif n1 > n2:

    print(n1,"is the greatest")
    
else:
    print(n2,"is the greatest")

In [ ]:
### check if a year is leap year or not
n=int(input("Enter the year"))
if(n%400==0 or (n%100!=0 and n%4==0)):
    print("given year is leap year")
else:
    print("given year is not leap year")

In [4]:
##### check if a number exists in a given range
n1=int(input("Enter the first number"))
lb=int(input("Enter the lower bound"))
ub=int(input("Enter the upper boubd"))
if(n1 > lb and n1 < ub):
    print("Yes")
else:
    print("No")

Enter the first number10
Enter the lower bound5
Enter the upper boubd15
Yes

In [13]:
## check if a number of digits in a number
n1=int(input("Enter the number "))
c=0
while(n1!=0):
    n1=n1//10
    c=c+1
print(c)

Enter the number 2345
4

In [5]:
###check if a number is a multiple of 10
n1=int(input("Enter the number"))
if(n1%10==0):
    print("multiple of 10")
else:
    print("not a multiple of 10")

Enter the number5
not a multiple of 10

In [6]:
###check if a number is factor of 1000
n1=int(input("Enter the number"))
if(n1%1000==0):
    print("yes")
else:
    print("no")

Enter the number2000
yes

In [9]:
###check if given string is equal to a number
s1="123"
n1=1234
if str(n1)==s1:
    print(n1,"is equal to",s1)
else:
    print(n1,"is not equal to",s1)

1234 is not equal to 123

In [10]:
### calculate the square of a number
n1=123
n1 ** 0.5

11.090536506409418

In [11]:
### calculate the no of nano seconds
y=2019
if(y%400==0 or (y%100!=100 and y%4==0)):
    print(366 * 24 * 60 * 60 *(100**9))
else:
    print(365 * 24 * 60 * 60 *(100**9))

31536000000000000000000000

In [ ]:
###calculate the given no is prime or not
n1=int(input("Enter the number"))
i=1
c=0
while(i<=n1):
    if(n1%i==0):
        c=c+1
        i=i+1
if(c==1):
    print("prime")
else:
    print("not a prime")